@(title: String)(content: Html)(implicit staticAssetResolver: StaticAssetResolver)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@staticAssetResolver.asset("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@staticAssetResolver.asset("images/favicon.png")">
        <script src="@staticAssetResolver.asset("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
